body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}
.my-image {
    margin-top: 100px;
    width: 75vw;
    height: auto;
}
.my-hello {
    margin: 20px 0px 20px 0px;
}
.my-bay {
    margin: 20px 0px 20px 0px;
    display: none;
}
.my-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 30vh;
  font-size: 40px;
  margin-top: 50px;
}
button{
  margin-top: 50px;
  font-size: 50px;
}

input{
  height: 50px;
  font-size: 30px;
  outline: none;
}