<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=0"/>
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
</head>
<body>
    <img id="cat" src="/images/cat.jpg" alt="Кот" class="my-image">
    <div id="hello" class="my-hello">Давай дружить?</div>
    <div id="bye" class="my-bay">Приятно познакомиться!</div>
    <form id="myForm" class="my-form">
        <label for="field1">Имя:</label>
        <input type="text" id="field1" name="field1" required>

        <label for="field2">Инст:</label>
        <input type="text" id="field2" name="field2" required>

        <label for="field3">О себе:</label>
        <input type="text" id="field3" name="field3" required>

        <button type="button" onclick="submitForm()">Отправить</button>
    </form>
</body>
</html>
