<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
        <img id="cat" th:src="@{/images/cat.jpg}"/>
        <img id="catBack" th:src="@{/images/catBack.png}"/>
        <div id="ask" class="invisible">Пойдешь на свидание?</div>
        <div class="yesOrNot-container">
            <button id="yes" class="variant-invisible" onclick="clickYes()">да</button>
            <button id="no" class="variant-invisible" onclick="clickNo()">нет</button>
        </div>
<!--        <div id="ansYes" style="display: none;">Ваш ответ ДА</div>-->
<!--        <div id="ansNo" style="display: none;">Ваш ответ НЕТ</div>-->
</body>
</html>
